body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-container {
  border-bottom: 2px solid #888 !important; 
}

.input-label {
  color: #888;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  margin-left: 8px;
}

.required {
  color: #f00;
  margin-left: 5px;
}

.input-wrapper {
  display: flex;
  width: 100%;
}

.element-wrapper {
  flex: 1;
}

.sub-text {
  margin: 8px 5px;
  color: #888;
  font-size: 10px;
}

.error {
  color: #f00;
  font-weight: bold;
}

.message {
  font-weight: bold;
}


